<div id="article-page">
    <div class="container content-container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="article-page-title">Article List</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="link-cluster">
                    <p>Look for more articles here:</p>
                    <a href="/scraper" class="btn btn-outline-secondary" id="scraper-link">Article Search</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-4">
                <h2>Article List:</h2>
                <div id="article-list"></div>
            </div>
            <div class="col-4">
                <h2>User Notes:</h2>
                <div id="note-div"></div>
            </div>
        </div>
    </div>
</div>