<div class="container">
    <h1>News Scraper!</h1>
    <br>
    <h4>Read and Comment on articles</h4>
    <br>
    <div class="link-cluster">
        <p>Check it out here:</p>
        <a href="/articles" class="btn btn-outline-secondary">Articles</a>
    </div>
</div>