<div id="scraper-page">
    <div class="container content-container scrape-container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="scraper-title">Article Scraper</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="link-cluster">
                    <p>Look for more articles here:</p>
                    <button class="btn btn-secondary" id="web-scraper">Search</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="link-cluster">
                    <p>Scrape Status:</p>
                    <div id="scraper-status"></div>
                    <div id="scraper-redirect"></div>
                    <div id="article-link"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>