body {
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}
.content-container {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    height:100%;
}
h1 {
    font-size: 60px;
    text-align: center;
    padding: 2%;
    border-bottom: 2px solid rgb(150, 150, 150);
}
h2 {
    border-bottom: 2px solid rgb(150, 150, 150);
    margin-bottom: 6%;
}
h4 {
    text-align: center;
}
.link-cluster {
    text-align: center;
}
#title-input {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 24px;
}
#body-input {
    display: block;
    width: 100%;
    font-size: 18px;
}
#article-page {
    background-image: url("../images/newspaper_stack.jpg");
}
#title-page {
    background-image: url("../images/typeset_keys.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.article-title {
    word-wrap: break-word;
    border: 2px solid rgb(150, 150, 150);
    padding: 2%;
    margin-bottom: 2%;
}
.article-text {
    border-bottom: 2px solid rgb(150, 150, 150);
}
.link-div {
    margin-top: -10%;
}
.btn-secondary:hover {
    background: rgb(255, 255, 255);
    color: rgb(90, 98, 104);
    border: 1px solid rgb(90, 98, 104);
}
#scraper-page {
    background-image: url("../images/print_press.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
#scraper-title {
    border-bottom: 2px solid rgb(150, 150, 150);
}
.scrape-container {
    min-height: 100vh;
}